.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}
.navlinks {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.navlinks li a{
    color: inherit;
    text-decoration: none;
}
