/* You can add global styles to this file, and also import other style files */

.customCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

input.ng-invalid.ng-touched {
  outline: 2px solid red;
}
body {
  background-image: linear-gradient(
    90deg,
    rgba(237, 229, 229, 0.9),
    rgba(216, 199, 199, 0.8),
    rgba(177, 155, 155, 0.7)
  );
}
